

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 100%;
}

.calculator {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: black solid;
}

#display {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  border: white ;
 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: rgb(129, 127, 127);
  border: white solid;
  border-radius: 10%;
  transition: 0.9s;
}

button:hover{
  box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 lightblue;
  cursor: pointer;
  border-radius: 50%;
}


